.craftrooms__wrap {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
     -o-display: grid;
        display: grid;
        display: -ms-grid;
    -ms-grid-template-columns: repeat(4, minmax(25rem, 1fr));
    grid-template-columns: repeat(4, minmax(25rem, 1fr));
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    -ms-grid-gap: 7rem;
    grid-gap: 7rem;
    margin-top: 5rem;
    margin-bottom: 18rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.craftroom {
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
    text-align: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.craftroom:hover > .craftroom__icon {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    
}

.craftroom__title {
    margin-top: 1rem;
    align-self: center;
    font-size: 2.4rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-align: center;
}

.craftroom__icon {
    margin-top: 3rem;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
}

    /*    Media    */

@media (max-width: 1280px) {
    .craftrooms__wrap {
        -webkit-display: grid;
        -moz-display: grid;
        -ms-display: grid;
         -o-display: grid;
            display: grid;
            display: -ms-grid;
        -ms-grid-template-columns: repeat(3, minmax(25rem, 1fr));
        grid-template-columns: repeat(3, minmax(25rem, 1fr));
        -ms-grid-gap: 5rem;
        grid-gap: 5rem;
        padding: 0 5rem;
    }
}


@media (max-width: 980px) {
    .craftrooms__wrap {
        -webkit-display: grid;
        -moz-display: grid;
        -ms-display: grid;
         -o-display: grid;
            display: grid;
            display: -ms-grid;
        grid-template-columns: repeat(2, minmax(25rem, 1fr));
        -ms-grid-template-columns: repeat(2, minmax(25rem, 1fr));
        -ms-grid-gap: 4rem;
        grid-gap: 4rem;
        padding: 0 3rem;
    }
}

@media (max-width: 640px) {
    .craftrooms__wrap {
        -webkit-display: grid;
        -moz-display: grid;
        -ms-display: grid;
         -o-display: grid;
            display: grid;
            display: -ms-grid;
        -ms-grid-gap: 3rem;
        grid-gap: 3rem;
        padding: 0 5rem;
    }
}

@media (max-width: 540px) {
    .craftrooms__wrap {
        -webkit-display: grid;
        -moz-display: grid;
        -ms-display: grid;
         -o-display: grid;
            display: grid;
            display: -ms-grid;
        -ms-grid-template-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-gap: 3rem;
        grid-gap: 3rem;
        padding: 0 5rem;
    }
}

@media (max-width: 320px) {

}