.nav-main__wrap {
    padding: 0;
}
.header__nav-main {
    padding-left: 6rem;
    padding-right: 6rem;
}

.nav-main__list {
    -webkit-display: grid;
    -moz-display: grid;
    -ms-display: grid;
     -o-display: grid;
        display: grid;
        display: -ms-grid;
    -ms-grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-align-items: center;
    align-items: center;
    -ms-grid-gap: 5rem;
    grid-gap: 5rem;
    border-top: .1rem solid #bfbfbf;
}

.nav-main__item {
    list-style: none;
    text-align: center;
    -ms-align-items: center;
    align-items: center;
}

.nav-main__item:first-child {
    padding-left: 7rem;
    text-align: left;
}

.nav-main__item:last-child {
    padding-right: 7rem;
    text-align: right;
}

.nav-main__link {
    width: 100%;
    height: 100%;
    max-width: 9rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.8rem;
    color: #000000;
    cursor: pointer;
}

.nav-main__item:hover {
    /*background-color: #e5e5e5;*/
}

